.container-album-main {
  height: auto;
  margin-left: 17%;
  width: auto;
  position: relative;
}

.container-album-header {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.container-album-header .background-cover {
  position: relative;
}

.container-album-header .background-cover img {
  width: 100%;
  filter: blur(50px);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto;
}

.container-album-header .background-cover span {
  background-image: linear-gradient(to bottom, transparent, #1b1b1b);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 47%;
  left: 0;
}

.container-album-header .container-album-cover {
  width: 100%;
  position: absolute;
  display: flex;
  margin: 10vw 1vw 0 2vw;
  left: 0;
  top: 0;
}

.container-album-header .container-album-cover {
  padding: 0.4vw;
  border-radius: 0.5vw;
  column-gap: 2vw;
  align-items: flex-start;
}

.container-album-header .container-album-cover img {
  width: 100%;
  max-width: 10vw;
  height: auto;
  min-height: 20vh;
  border-radius: 50%;
}

.container-album-header .container-album-cover .category-band {
  display: flex;
}

.container-album-header .container-album-cover .category-band p {
  font-size: 0.6rem;
  padding: 0.1vw 0.5vw;
  border: 1px solid var(--main-theme-color);
  text-align: center;
  border-radius: 2vw;
  color: var(--main-theme-color);
}

.container-album-header .container-album-cover h1 {
  color: var(--main-color-text-light);
  margin: 0 0 0.5vw 0;
}

.container-album-header .container-album-cover .container-album-detail .album-band-follow p {
  color: var(--main-color-text-light);
}

.container-album-header .container-album-cover .container-album-detail .album-band-follow p span {
  opacity: 0.5;
  margin-left: 0.5vw;
}

.container-album-header .container-album-cover .container-album-detail .album-band-detail {
  display: flex;
  align-items: center;
  column-gap: 0.5vw;
}

.container-album-header .container-album-cover .container-album-detail .album-band-detail p:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50vw;
  color: var(--main-color-text-light);
  opacity: 0.5;
}

.container-album-header .container-album-cover .container-album-detail .album-band-detail p a {
  color: var(--main-color-text-light);
  display: flex;
  align-items: center;
  opacity: 0.7;
  cursor: pointer;
  line-height: 1vw;
}

.container-album-header .container-album-cover .container-album-detail .album-band-detail p i {
  margin-left: 0.3vw;
  line-height: 1vw;
}

.container-album-header .container-album-cover .container-album-detail .album-band-detail p a {
  opacity: 1;
}

.container-album-header .container-album-cover .container-album-detail .album-band-button {
  display: flex;
  align-items: center;
}

.container-album-header .container-album-cover .container-album-detail .album-band-button .album-button {
  cursor: pointer;
  background: none;
  margin: 0 0.5vw;
}

.container-album-header .container-album-cover .container-album-detail .album-band-button .album-button.btn-play {
  filter: invert(65%) sepia(34%) saturate(7102%) hue-rotate(170deg) brightness(109%) contrast(102%);
  font-size: 3rem;
}

.container-album-header .container-album-cover .container-album-detail .album-band-button .album-button.btn-play:hover {
  transform: scale(1.1);
}

.container-album-header .container-album-cover .container-album-detail .album-band-button .album-button.btn-follow {
  font-size: 1.5rem;
  border: 2px solid #e1e1e170;
  color: var(--main-color-text-light);
  padding: 0vw 1vw;
  border-radius: 1vw;
}

.container-album-header .container-album-cover .container-album-detail .album-band-button .album-button.btn-follow:hover {
  color: var(--main-color-text-dark);
  border: 2px solid var(--main-color-text-light);
  background: var(--main-color-text-light);
}